<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {{.Title}} | {{.Site.Title}} </title>
    <link rel="stylesheet" href="/css/style.css">  
</head>
<body>
    <header>
        <div class="container header-flex">
            <div class="site-title">{{.Site.Title}} </div>

            <nav>
                <a href="/">Trang chủ</a>
                <a href="/about">Hồ sơ bản thân</a> 
                <a href="/blog/">Bài đăng Blog</a>
                <a href="/contact">Liên hệ</a>
            </nav>
        </div>
    </header>

    <main class="container" >
        {{block "main" .}} {{end}}
    </main>

    <footer>
        <p>© {{now.Year}} {{.Site.Title}} | Hướng dẫn kinh nghiệm </p>
    </footer>
</body>
</html>