{{ define "main" }}
<section class="blog-list">
  <h1>{{ .Title }}</h1>

  {{ range .Pages.ByDate.Reverse }}
  <article class="blog-preview">
    {{ with .Params.image }}
    <img src="{{ . }}" alt="{{ $.Title }}" loading="lazy" />
    {{ end }}

    <div class="content">
      <h2>
        <a href="{{ .RelPermalink }}">{{ .Title }}</a>
      </h2>
      <p>{{ .Summary }}</p>
      <a class="read-more" href="{{ .RelPermalink }}">Đọc →</a>
    </div>
  </article>
  {{ end }}
</section>
{{ end }}
